<% include components/head/_head-info %>
<div class="col-md-12 block">
	<div class="col-md-12 Slide carousel" data-interval="false">
		
		<div class="carousel-inner">
			<div class="item active">
				<div class="carousel-caption">
					<% include components/_info-item-2 %>
				</div>
			</div>
			<div class="item">
				<div class="carousel-caption">
					<% include components/_info-item-3 %>
				</div>
			</div>
		</div>
		<a class="right carousel-control text-center" href=".Slide" role="button" data-slide="next">
			<span aria-hidden="true"><img class="animated fadeInRight infinite" src="/images/right.svg" /></span>
		</a>
	</div>
</div>
<% include components/_footer %>