<nav class="navbar navbar-default head">
	<div class="navbar-header">
		<div class="dop-bg">
			<button type="button" class="navbar-toggle collapsed animated pulse infinite" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
			</button>
		</div>
		<a class="navbar-brand">
			<!-- <img class="animated rubberBand" alt="Brand" src="/images/start-page.png"/> -->
			<h4><font color="#fff">WEB</font>site</h4>
		</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<p class="navbar-text">Description logo.</p>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/">Home</a></li>
			<li><a href="/info">Info</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a><font color="#000">Services</font></a></li>
			<li><a href="blog">Blog</a></li>
			<li><a href="contacts">Contacts</a></li>
			<li><a class="sign btn-white" href="sign-in" title="sign in">Sign in</a></li>
		</ul>
	</div>
</nav>