<section>
	<div class="col-xs-12 text-center animated bounceInDown card face-item-2 cr">
		<div class="col-xs-12 facts-description">
			<img src="/images/facts.svg" />
			<h4>What are the results of our efforts ?</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Voluptatibus necessitatibus soluta qui vitae earum veniam, blanditiis officia hic tenetur.</p>
		</div>
		<div class="col-xs-12 facts">
			<ul>
				<li>
					<div class="col-xs-6 col-sm-4 col-md-3 facts-item">
						<h2>687</h2>
						<p>Completed Projects</p>
					</div>
				</li>

				<li>
					<div class="col-xs-6 col-sm-4 col-md-3 facts-item">
						<h2>142</h2>
						<p>Happy Clients</p>
					</div>
				</li>

				<li>
					<div class="col-xs-6 col-sm-4 col-md-3 facts-item">
						<h2>742</h2>
						<p>Total Download</p>
					</div>
				</li>

				<li>
					<div class="col-xs-6 col-sm-4 col-md-3 facts-item">
						<h2>1548</h2>
						<p>Cup Of Coffee</p>
					</div>
				</li>

				<li>
					<div class="col-xs-6 col-sm-4 col-md-3 facts-item x">
						<h2>742</h2>
						<p>Total Download</p>
					</div>
				</li>

				<li>
					<div class="col-xs-6 col-sm-4 col-md-3 facts-item">
						<h2>1548</h2>
						<p>Cup Of Coffee</p>
					</div>
				</li>
			</ul>
		</div>
		<a class="btn-blue" href="#">Contacts</a>
	</div>
</section>