<section>
	<div class="col-xs-12 block services">
		<div class="col-xs-12 block-mesage" id="services">
			<img src="/images/icons/services/services-blue.svg" alt="" />
			<h5>What services do we provide ?</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-xs-12 card services-item-1">
			<div class="col-xs-12 serv-ex-list">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>Development</h5>
					<ul>
						<li>Creating Web sites</li>
						<li>Web portal</li>
						<li>Game Development</li>
						<li>Highload system</li>
						<li>Browser Extension</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>Working with data</h5>
					<ul>
						<li>Big Data</li>
						<li>Data mining</li>
						<li>Machine learning</li>
						<li>Scalability</li>
						<li>NoSQL</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>Design</h5>
					<ul>
						<li>interface design</li>
						<li>Web layout</li>
						<li>Mattle Painting</li>
						<li>UI design</li>
						<li>Interface design</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>Info security</h5>
					<ul>
						<li>External security audit</li>
						<li>Internal security audit</li>
						<li>The source code audit</li>
						<li>Data encryption</li>
						<li>Cryptoanalysis</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 serv-ex-list">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>Computer vision</h5>
					<ul>
						<li>Video analysis</li>
						<li>Video processing</li>
						<li>Analysis of images</li>
						<li>Image processing</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>Administration</h5>
					<ul>
						<li>Virtualization</li>
						<li>Server optimization</li>
						<li>Mesh-networks</li>
						<li>Server administration</li>
						<li>Hosting</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>Support sites</h5>
					<ul>
						<li>Support sites</li>
						<li>Modernization sites</li>
						<li>The site administration</li>
						<li>Restore sites</li>
						<li>Redesign of sites</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>Translations</h5>
					<ul>
						<li>Technical</li>
						<li>Medical</li>
						<li>Advertising translation</li>
						<li>Legal translations</li>
						<li>Video translations</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 serv-ex-list">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>More example</h5>
					<ul>
						<li>More example heare</li>
						<li>More example heare</li>
						<li>More example heare</li>
						<li>More example heare</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>More example</h5>
					<ul>
						<li>More example heare</li>
						<li>More example heare</li>
						<li>More example heare</li>
						<li>More example heare</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>More example</h5>
					<ul>
						<li>More example heare</li>
						<li>More example heare</li>
						<li>More example heare</li>
						<li>More example heare</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h5>More example</h5>
					<ul>
						<li>More example heare</li>
						<li>More example heare</li>
						<li>More example heare</li>
						<li>More example heare</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 s-b">
				<a href="/services" class="btn-blue">Services</a>
			</div>
		</div>
	</div>
</section>